absl-py==2.1.0
accelerate==0.21.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.5
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
async-timeout==4.0.3
attrs==24.3.0
bitsandbytes==0.45.0
bleach==6.1.0
blis==0.7.11
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.11
docker-pycreds==0.4.0
einops==0.6.1
einops-exts==0.0.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.1.3
fastapi==0.115.6
ffmpy==0.3.1
filelock==3.16.1
fonttools==4.55.4
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.37.0
google-auth-oauthlib==1.0.0
gradio==5.12.0
gradio_client==1.5.4
grpcio==1.69.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
idna==3.10
imageio==2.37.0
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
linkify-it-py==2.0.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.10.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.12
narwhals==1.23.0
networkx==3.4.2
ninja==1.11.1.1
numpy==1.26.4
oauthlib==3.2.2
onnx==1.17.0
openai==0.27.8
opencv-python==4.8.0.74
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathtools==0.1.2
peft==0.4.0
Pillow==9.5.0
preshed==3.0.9
protobuf==4.25.5
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.6
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2024.2
PyWavelets==1.8.0
PyYAML==6.0.2
ray==2.6.1
referencing==0.30.2
regex==2024.11.6
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.9.4
rpds==5.1.0
rpds-py==0.18.1
rsa==4.9
ruff==0.9.2
safehttpx==0.1.6
safetensors==0.5.2
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.15.1
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.20.0
setproctitle==1.3.4
shellingham==1.5.4
shortuuid==1.0.11
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
starlette==0.41.3
sympy==1.13.1
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorrt @ file:///D:/tesnorrt/TensorRT-10.6.0.26.Windows.win10.cuda-11.8/TensorRT-10.6.0.26/python/tensorrt-10.6.0-cp310-none-win_amd64.whl#sha256=94c480e19cd31ae4d4a72248b3e90d50917b11d29f3db9247ffa4905931601c0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2025.1.10
timm==0.6.13
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.13.2
torch==2.5.1+cu118
torch2trt==0.5.0
torchaudio==2.5.1+cu118
torchmetrics==0.2.0
torchvision==0.20.1+cu118
tqdm==4.65.2
transformers==4.31.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
urllib3==2.3.0
uvicorn==0.23.2
wandb==0.15.11
wasabi==1.1.3
weasel==0.3.4
webencodings==0.5.1
websockets==14.2
Werkzeug==3.1.3
yarl==1.9.2
